
#a1 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid black;

}

#a1 p {
    width: 800px;
    

}

#a1  {
    display: flex;
    margin: 20px;
    align-items: center;
    padding: 40px;
    margin-left: 200px;
}

#a1 h4 {
    text-align: center;
    margin: 30px;
    font-size: xx-large;
    font-size: 50px;
}

.animales1 p{
    font-size: x-large;
}

#a2 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid black;

}

#a2 {
    display: flex;
    margin: 20px;
    align-items: center;
    padding: 40px;
    margin-left: 200px;
}

#a2 p {
    width: 800px;
    

}

#a2 h4 {
    text-align: center;
    margin: 30px;
    font-size: 50px;
}

.animales2 p{
    font-size: x-large;
}

#a3 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid black;

}

#a3 p {
    width: 800px;
    

}

#a3 {
    display: flex;
    margin: 20px;
    align-items: center;
    padding: 40px;
    margin-left: 200px;
}

#a3 h4 {
    text-align: center;
    margin: 30px;
    font-size: xx-large;
    font-size: 50px;
}

.animales3 p{
    font-size: x-large;
}

#a4 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid black;

}

#a4 {
    display: flex;
    margin: 20px;
    align-items: center;
    padding: 40px;
    margin-left: 200px;
}

#a4 p {
    width: 800px;
    

}

#a4 h4 {
    text-align: center;
    margin: 30px;
    font-size: xx-large;
    font-size: 50px;
}

.animales4 p{
    font-size: x-large;
}

#a5 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid black;

}

#a5 {
    display: flex;
    margin: 20px;
    align-items: center;
    padding: 40px;
    margin-left: 200px;
}

#a5 p {
    width: 800px;
    

}

#a5 h4 {
    text-align: center;
    margin: 30px;
    font-size: xx-large;
    font-size: 50px;
}

.animales5 p{
    font-size: x-large;
}


#a6 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid black;

}

#a6 p {
    width: 800px;
    

}

#a6 {
    display: flex;
    margin: 20px;
    align-items: center;
    padding: 40px;
    margin-left: 200px;
}

#a6 h4 {
    text-align: center;
    margin: 30px;
    font-size: xx-large;
    font-size: 50px;
}

.animales6 p{
    font-size: x-large;
}


#a7 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid black;

}

#a7 p {
    width: 800px;
    

}

#a7 {
    display: flex;
    margin: 20px;
    align-items: center;
    padding: 40px;
    margin-left: 200px;
}

#a7 h4 {
    text-align: center;
    margin: 30px;
    font-size: xx-large;
    font-size: 50px;
}

.animales7 p{
    font-size: x-large;
}

